extends ../../layout
block content
    form(action="../update/#{bookindex}",method="POST")
        span= __('setup.book.name')
        input(name="name",value="#{book.name}")
        br
        span= __('setup.book.author')
        input(name="author",value="#{book.author}")
        br
        span= __('setup.book.price')
        input(name="price",value="#{book.price}")
        br
        input(type="submit",name="update",value="#{__('index.update')}")
        input(type="submit",name="cancel",value="#{__('index.cancel')}")