extends ../../layout
block content
    table
        if books.length>0
            tr
                th
                    a(href="edit/-1") #{create}
                th= name
                th= author
                th= price
            each book, index in books
                tr
                    td
                        a(href="book/edit/#{index}") #{edit}
                    td= book.name
                    td= book.author
                    td= book.price
        else
            tr
                td= nobooks